@{
    ViewBag.Title = "Programas Estrategicos";
}

<div class="light-box-form">
    
    <form action="~/ProgramasEstrategicos/Create" method="POST">
        
        <div class="form-group">
            <label>Nombre:</label>
            <input name="Nombre" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Descripción:</label>
            <textarea cols="40" rows="5" name="Descripcion" class="form-control"></textarea>
        </div>
<<<<<<< HEAD
        <div class="checkbox">
            <label>
                <input type="checkbox" name="Activo" value="1" checked>Activo
=======

        <div class="checkbox">
            <label>
                <input type="checkbox" name="Activo" value="true" checked>Activo
>>>>>>> origin
            </label>
        </div>

        <input type="submit" class="btn btn-primary" value="Guardar">   
        <button class="btn btn-danger">Cerrar</button>

    </form>

</div>