@model Application.Poa.ViewModels.ProgramaEstrategicoViewModel

@{
    ViewBag.Title = "Programas Estrategicos";
}

<div class="light-box-form">
    
    <form method="POST" action="/ProgramasEstrategicos/Delete/@Model.Id" style="width: 400px">

        <div class="form-group">
            <label>¿Desea borrar el programa estrategico "@Model.Nombre"?</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Aceptar">   
        <input type="button" class="btn btn-danger" value="Cerrar" onclick=" location.href='/ProgramasEstrategicos/Index'"/> 

    </form>

</div>