@model Presentation.Models.Poa.DeleteProductoPageView

@{
    ViewBag.Title = "Productos";
    var producto = Model.ProductoViewModel;
}

<div class="light-box-form">
    
    <form action="#" method="POST" style="width: 400px">

        <div class="form-group">
            <label>¿Desea borrar el producto @producto.Descripcion ?</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Aceptar">   
        <button class="btn btn-danger">Cancelar</button>

    </form>

</div>