@model  Presentation.Models.Poa.EditProductoPageView

@{
    ViewBag.Title = "Productos";
}

<div class="light-box-form">
    
    <form action="/Productos/Delete/@Model.Producto.Id" method="POST" style="width: 400px">

        <div class="form-group">
            <label>¿Desea borrar el producto "@Model.Producto.Descripcion" ?</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Aceptar">   
        <input type="button" class="btn btn-danger" value="Cerrar" onclick=" location.href='/Productos/Index'"/> 

    </form>

</div>