@model Presentation.Models.Poa.EditProductoPageView

@{
    ViewBag.Title = "Productos";
    var programasEstrategicos = Model.ProgramasEstrategico;
    var producto = Model.Producto;
}

<div class="light-box-form">
    
    <form action="~/ProgramasEstrategicos/Edit/@producto.Id" method="POST">
        
        <div class="form-group">
            <label>Código:</label>
            <input name="Codigo" type="text" class="form-control" value="@producto.Codigo"/>
        </div>

        <div class="form-group">
            <label>Descripción:</label>
            <textarea name="Descripcion" class="form-control">@producto.Descripcion</textarea>
        </div>

        <div class="form-group">
            <label>Programa Estrategico:</label>
            <select class="form-control" name="ProgramaEstrategicoId">
            @foreach (var programaEstrategico in programasEstrategicos)
            {
                <option value="@programaEstrategico.Id">@programaEstrategico.Nombre</option>
            }
            </select>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="Activo" checked>Activo
            </label>
        </div>

        <input type="submit" class="btn btn-primary" value="Guardar">   
        <button class="btn btn-danger">Cerrar</button>

    </form>

</div>