@model List<Application.Institucion.ViewModels.DependenciaViewModel>

@{
    ViewBag.Title = "Create";
}

<div class="light-box-form">
    <form action="~/Poas/Create" method="POST">
        <h1>Dependencia</h1>
        <div class="form-group">
            <select class="form-control" name="DependenciaId">
            @foreach (var dependencia in Model)
            {
                <option value="@dependencia.Id">@dependencia.Nombre</option>
            }
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <input type="button" class="btn btn-danger" value="Cerrar" onclick="location.href='Index'"/>  
    </form>
</div>
