@{
    ViewBag.Title = "Tarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="light-box-form">
    
    <form action="~/Poas/Tarea" method="POST">

    <h1>Dependencia: </h1>

        <div class="form-group">
            <label>Descripción:</label>
            <textarea cols="40" rows="5" name="Descripcion" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label>Actividad:</label>
            <select class="form-control" name="ActividadId">

            </select>
        </div>

        <div class="form-group">
            <label>Unidad de medida:</label>
            <select class="form-control" name="UnidadDeMedidaId">

            </select>
        </div>

        <div class="form-group">
            <label>Indicador:</label> 
            <input name="Indicador" type="text" class="form-control"/>
        </div>

         <div class="form-group">
            <label>Medio de verificación:</label> 
            <input name="Medio de verificación" type="text" class="form-control"/>
        </div>
   
        <div class="form-group">
            <label>Indicador padre:</label>
            <select class="form-control" name="ActividadId">

            </select>
        </div>

        <input type="submit" class="btn btn-primary" value="Guardar">   
        <button class="btn btn-danger">Cerrar</button>
    </form>
</div>
