@{
    ViewBag.Title = "Usuarios";
}

<div class="light-box-form">
    
    <form action="~/Usuarios/Create" method="POST">
        
        <div class="form-group">
            <label>Usuario:</label>
            <input name="Usuario" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Rol de usuario:</label>
            <select class="form-control" name="RolUsuarioId">
                <option value="1">Supervisor</option>
                <option value="2">Analista</option>
                <option value="3">Jefe</option>
            </select>
        </div>

        <div class="checkbox">
            <label><input type="checkbox" name="Activo" checked="true">Activo</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Guardar">
        <button class="btn btn-danger">Cerrar</button>
    
    </form>

</div>