@model Application.Institucion.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Usuarios";
}

<div class="light-box-form">
    
    <form action="/Usuarios/Delete/@Model.Id" method="POST" style="width: 400px">

        <div class="form-group">
            <label>¿Desea borrar el usuario "@Model.NombreUsuario"?</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Aceptar">   
        <input type="button" class="btn btn-danger" value="Cerrar" onclick=" location.href='/Usuarios/Index'"/> 

    </form>

</div>
