@model Presentation.Models.Institucion.EditDependenciaPageView

@{
    ViewBag.Title = "Dependencias";
}

<div class="light-box-form">
    
    <form action="/Dependencias/Delete/@Model.Dependencia.Id" method="POST" style="width: 400px">

        <div class="form-group">
            <label>¿Desea borrar la dependencia "@Model.Dependencia.Nombre"?</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Aceptar">   
        <input type="button" class="btn btn-danger" value="Cerrar" onclick=" location.href='/Dependencias/Index'"/> 

    </form>

</div>
