@model Presentation.Models.Poa.DeleteDependenciaPageView

@{
    ViewBag.Title = "Dependencias";
}

<div class="light-box-form">
    
    <form action="#" method="POST" style="width: 400px">

        <div class="form-group">
            <label>¿Desea borrar la dependencia " "?</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Aceptar">   
        <button class="btn btn-danger">Cancelar</button>

    </form>

</div>
